body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}

.nav-section {
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}
.nav-btn {
  width: fit-content;
  height: 60px;
  background-color: rgb(226, 30, 105);
  border-radius: 20px;
  padding: 10px;
  border: none;
  font-size: 22px;
}

.nav-btn a {
  text-decoration: none;
  color: white;
}
