* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(179, 177, 177);
}

.main-box {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

.box {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 193);
  position: relative;
  z-index: 1;
  transition: all 0.8s ease;
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #2ecc71;
  transition: all 0.8s ease;
}

.box:hover::before {
  transform: translateX(-100%);
  background-color: #2ecc71;
}
