body {
  display: flex;
  justify-content: center;
  margin: 150px auto;
}

.box {
  width: 500px;
  height: 500px;
  background-color: purple;
  position: relative;
}

.box:hover {
  background-color: rgb(246, 227, 24);
}

.box::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-color: red;
}
